@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  border-bottom: $base-border;
  ul {
    @include clear-list;
  }
  button {
    @include clear-btn;
    cursor: pointer;
  }
  .nav {
    &__link {
      color: $text-pink;
      &--logo {
        @extend .nav__link;
      }
    }
  }
}
