@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  border-bottom: $base-border;
  z-index: 100;
  &--fixed {
    @extend .header;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__wrapper {
    max-width: $site-width-1400;
    margin: auto;
    padding: 0 $spacing-24;
  }
  ul {
    @include clear-list;
  }
  button {
    @include clear-btn;
    cursor: pointer;
  }
  .nav {
    &__link {
      color: $text-pink;
      &--logo {
        @extend .nav__link;
      }
    }
  }
}
