@use './variables.scss' as *;
@use './mixins.scss' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background-color: $viewport-background-color;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
}

.header {
  &__wrapper {
    max-width: $site-width-1400;
    margin: auto;
    padding: 0 $spacing-24;
  }
}

.section {
  $self: &;
  position: relative;
  margin-bottom: $spacing-120;
  // overflow: hidden;
  &--fullscreen {
    margin-bottom: 0;
    @include fullscreen($min-height: 100vh);
    .section {
      &__wrapper {
        @include fullscreen;
      }
      &__row {
        height: 100%;
        padding: 0;
      }
    }
    &:not(:first-of-type) {
      margin-top: -$spacing-120;
    }
  }
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__wrapper {
    @extend .header__wrapper;
  }
  &__row {
    @include flex;
    position: relative;
    padding: $spacing-120 0;
  }
  &__col {
    flex: 1;
    padding: 0 $spacing-24;
    &--right {
      @extend .section__col;
      margin-left: auto;
    }
    &--left {
      @extend .section__col;
      margin-right: auto;
    }
  }
  &__content {
    width: 100%;
    max-width: 600px;
    &--wide {
      @extend .section__content;
      max-width: 800px;
    }
  }
  &__title {
    position: relative;
  }
  &__image-container {
    height: 100%;
    box-sizing: border-box;
    &--short {
      @extend .section__image-container;
      height: 600px;
    }
  }
  &__image {
    height: 100%;
    width: 100%;
    // object-fit: cover;
  }
  &__caption {
    position: absolute;
    bottom: -25px;
    left: -12%;
    margin-bottom: 0;
    background: $white;
    padding: $spacing-8 $spacing-16 $spacing-8 24%;
    border-top: $base-border;
    border-right: $base-border;
    border-bottom: $base-border;
  }
  &__items {
    @include clear-list;
  }

  &__buttons {
    padding-top: $spacing-32;
  }
}

// Slider Settings
.slider {
  width: 100%;
  height: 0;
  padding-top: calc(591.44 / 1127.34 * 100%);
  position: relative;
  &__items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__item {
    @include fullscreen;
  }
}

// Background Settings
.background {
  background-position: center;
  background-size: cover;
  &--fixed {
    @extend .background;
    background-attachment: fixed;
  }
}

// Grid settings
.grid {
  @for $i from 1 through 5 {
    &--#{$grid-space * $i} {
      grid-template-columns: repeat(auto-fill, minmax($grid-space * $i, 1fr));
      grid-template-rows: repeat(auto-fill, minmax($grid-space * $i, 1fr));
    }
  }
  &--column {
    grid-auto-flow: column;
  }
}

// Flex Settings
.flex {
  @include flex($dir: column);
  @include tablet-portrait-up {
    @include flex($dir: row);
  }
  &--space-between {
    @extend .flex;
    @include tablet-portrait-up {
      justify-content: space-between;
    }
  }
}

// Color and Color Bar Settings
.colors {
  &__item {
    width: 100%;
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 0;
    }
    @include tablet-portrait-up {
      width: auto;
      margin-bottom: 0;
    }
  }
  &__link {
    height: 30px;
    width: 100%;
    @include tablet-portrait-up {
      height: 200px;
      width: 75px;
    }
  }
  &--brown {
    background-color: $brown;
  }
  &--mauve {
    background-color: $mauve;
  }
  &--dark-brown {
    background-color: $dark-brown;
  }
  &--umber {
    background-color: $umber;
  }
  &--pink {
    background-color: $pink;
  }
  &--dark-green {
    background-color: $dark-green;
  }
  &--olive {
    background-color: $olive;
  }
}

// Border Settings
.border {
  &--all {
    border: $base-border;
  }
  &--top {
    border-top: $base-border;
  }
  &--right {
    border-right: $base-border;
  }
  &--bottom {
    border-bottom: $base-border;
  }
  &--left {
    border-left: $base-border;
  }
  &--thick {
    border-width: 24px;
    padding-left: 24px;
  }
}

// Underline Settings
.underline {
  &:after {
    content: '';
    border-bottom: $base-border;
    width: calc(200%);
    position: absolute;
    bottom: -20px;
  }
  &--right {
    &:after {
      @extend .underline;
      left: 0;
    }
  }
}

// Visually Hidden
.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}
