@use './variables.scss' as *;
@use './mixins.scss' as *;

img {
  width: 100%;
  height: auto;

  &.image {
    &--contain {
      height: 100%;
      object-fit: contain;
    }
    &--cover {
      height: 100%;
      object-fit: cover;
    }
  }
}

.background {
  @include image-cover;
  &--fullscreen {
    @extend .background;
  }
  &--fixed {
    @extend .background;
    background-attachment: fixed;
  }
}
