@use './variables.scss' as *;
@use './mixins.scss' as *;

html,
p,
.p,
p span {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  font-size: $mobile-font-size;
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  @include tablet-up {
    font-size: $base-font-size;
  }
}

p {
  margin: 0 0 $spacing-16 0;
}

h1,
.h1 {
  @include heading-style(36px, $heading-font-family, 700);
  @include tablet-up {
    font-size: 72px;
  }
}

h2,
.h2 {
  @include heading-style(34px, $heading-font-family, 700);
  // letter-spacing: 0.02px;
  @include tablet-up {
    font-size: 64px;
  }
}

h3,
.h3 {
  @include heading-style(24px, $alt-font-family, 500);
  @include tablet-up {
    font-size: 48px;
  }
  &--caption {
    @extend .h3;
    font-size: 24px;
  }
}

h4,
.h4 {
  @include heading-style(18px, $base-font-family, 400);
  font-style: italic;
  @include tablet-up {
    font-size: 36px;
  }
}

h5,
.h5 {
  @include heading-style(16px, $alt-font-family, 500);
  text-transform: none;
  // line-height: 32px;
  @include tablet-up {
    font-size: 32px;
  }
}

h6,
.h6 {
  @include heading-style(26px, $base-font-family, 400);
  font-style: italic;
}

a,
.styled-btn {
  color: $black;
  transition: all $base-duration $base-timing;
  padding: 3px;
  background: transparent;
  line-height: 1;
  position: relative;
  display: block;
  overflow: hidden;
  border: none;
  z-index: 1;
  text-decoration: none;
  font-family: $alt-font-family;
  &:hover,
  &:focus {
    color: $brown;
    &::before {
      transform: translateX(0%);
    }
  }
  &:focus {
    outline: $focus-outline;
    outline-offset: 1px;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $spacing-24 0;
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0;
}

// Text Alignment
.text-align {
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
}

// Underline Settings
.underline {
  &:after {
    content: '';
    border-bottom: $base-border;
    width: calc(200%);
    position: absolute;
    bottom: -20px;
  }
  &--right {
    &:after {
      @extend .underline;
      left: 0;
    }
  }
  &--left {
    &:after {
      @extend .underline;
      right: 0;
    }
  }
}
