@use './variables.scss' as *;
@use './mixins.scss' as *;

html,
p,
.p,
p span {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  @include tablet {
    font-size: $mobile-font-size;
  }
}

p {
  margin: 0 0 20px 0;
}

h1,
.h1 {
  @include heading-style(72px, $heading-font-family, 700);
  @include tablet {
    font-size: 36px;
  }
}

h2,
.h2 {
  @include heading-style(64px, $heading-font-family, 400);
  // letter-spacing: 0.02px;
  @include tablet {
    font-size: 34px;
  }
}

h3,
.h3 {
  @include heading-style(48px, $alt-font-family, 500);
  @include tablet {
    font-size: 24px;
  }
}

h4,
.h4 {
  @include heading-style(36px, $base-font-family, 400);
  font-style: italic;
  @include tablet {
    font-size: 18px;
  }
}

h5,
.h5 {
  @include heading-style(32px, $alt-font-family, 500);
  text-transform: none;
  line-height: 32px;
  @include tablet {
    font-size: 16px;
  }
}

h6,
.h6 {
  @include heading-style(26px, $base-font-family, 400);
  font-style: italic;
}

a,
.styled-btn {
  color: $black;
  transition: all $base-duration $base-timing;
  padding: 3px;
  background: transparent;
  line-height: 1;
  position: relative;
  display: block;
  overflow: hidden;
  border: none;
  z-index: 1;
  text-decoration: none;
  font-family: $alt-font-family;
  &:hover,
  &:focus {
    color: $brown;
    &::before {
      transform: translateX(0%);
    }
  }
  &:focus {
    outline: $focus-outline;
    outline-offset: 1px;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $spacing-24 0;
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0;
}
